h1{
font-size: 70px;
}

body{
font-family: 'Quicksand', sans-serif;
background-image: url(green_felt.jpg);
}

img{
max-width: 510px;
height: 110px;
position: relative;
right: -220px;
top: -140px;
}

#header{
max-height: 60px;
height: 100%;
text-align: center;
position: relative;
right: 50px;
top: 3%;
}

tr{
  width:500px;
  font-family: 'Quicksand', sans-serif;
  background-color: #c38750;
}

tr:nth-child(odd){
  background-color: #f3cb83
}

td{
  width:100px;
  height:20px;
  text-align:center;
}

.title{
  font-weight: bold;
}
#columns{
  margin:auto;
  margin-top: 5%
}
.cardLocation{
width: 100px;
}


#removeButtons{
  display: table;/*condenses div to only be around buttons*/
  margin: auto;
}

#Remove1{
  position: element(#c0);
  transform: translateY(-75%);
  margin-right:20px;
  margin-left: 20px;
  background-color: #f3cb83;
  border-color: #a26536;
  color: #4c2110;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;

}

#Remove2{
  position: element(#c1);
  transform: translateY(-75%);
  margin-right:20px;
  margin-left: 20px;
  background-color: #f3cb83;
  border-color: #a26536;
  color: #4c2110;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;

}

#Remove3{
  position: element(#c2);
  transform: translateY(-75%);
  margin-right:20px;
  margin-left: 20px;
  background-color: #f3cb83;
  border-color: #a26536;
  color: #4c2110;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;

}

#Remove4{
  position: element(#c3);
  transform: translateY(-75%);
  margin-right:20px;
  margin-left: 20px;
  background-color: #f3cb83;
  border-color: #a26536;
  color: #4c2110;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;

}

#dealButton{
  background-image: url(https://i.pinimg.com/originals/70/4f/9c/704f9c7c67ecb39f6562f5d93eff699c.jpg);
  border-color: #4c2110;
  color: #4c2110;
  border-width: thick;
  position: fixed;
  left:72%;
  top: 17%;
  font-size: 4vw;
  font-family: 'Quicksand', sans-serif;
}

/*START OF MOVE STYLING*/

.moveBar{
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
  height:13%;
  background-image: url("./darkWood.jpg");

}

.colSelectors{
  position: absolute;
  left: 25%;
  bottom: 10%;
  display:table;
  background-image: url("./brightWood.jpg");
  clip-path: polygon(100% 0%, 100% 100%, 20% 100%, 10% 0%);
  width:75%;
  height: 80%;
  text-align: center;
  box-sizing: border-box;
}

.moveText1 {
  font-family: 'Quicksand', sans-serif;
  margin:auto;
  color: #452113;
  text-shadow:
  -1px -1px 0 #a26536,
  0px -0px 0 #a26536,
  -1px 1px 0 #a26536,
  0px 0px 0 #a26536;
  font-size: 2vw;
}
.moveText2 {
  font-family: 'Quicksand', sans-serif;
  margin: auto;
  display:inline-block;
  color: #452113;
  text-shadow:
  -1px -1px 0 #a26536,
  0px -0px 0 #a26536,
  -1px 1px 0 #a26536,
  0px 0px 0 #a26536;
  font-size: 2vw;
}

#moveButton{
  font-family: 'Quicksand', sans-serif;
  margin:0px;
  padding: 0px;
  font-size: 4vw;
  float: left;
  position: absolute;
  border: none;
  left:0px;
  bottom:10%;
  width:35%;
  height: 80%;
  background-image: url("./brightWood.jpg");
  clip-path: polygon(80% 0%, 100% 100%, 0% 100%, 0% 0%);
  border:none;
  color: #452113;
  text-shadow:
  -1px -1px 0 #a26536,
  0px -0px 0 #a26536,
  -1px 1px 0 #a26536,
  0px 0px 0 #a26536;
  text-align: center;
  text-transform: uppercase;
}

#moveButton:hover{
  cursor: pointer;
  font-size: 4.2vw;
}
#moveButton:active{
  cursor: pointer;
  font-size: 3.8vw;
}

#from_col{
  background-image: url("./darkWood.jpg");
  border-color: #a26536;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  color: #a26536;
}
#to_col{
  background-image: url("./darkWood.jpg");
  border-color: #a26536;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  color: #a26536;
}

/*END OF MOVE STYLING*/
