tr{
  width:500px;
  font-family: 'Quicksand', sans-serif;
  background-color: wheat;
}

tr:nth-child(odd){
  background-color: #f3cb83
}

td{
  width:100px;
  height:30px;
  text-align:center;
}

.title{
  font-weight: bold;
}

.cardLocation{
  width: 100px;
  text-decoration: underline;
}

#columns{
  margin: auto;
}
